@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
display: block;
font-size: 2em;
margin-top: 0.67em;
margin-bottom: 0.67em;
margin-left: 0;
margin-right: 0;
font-weight: bold;
}

html.dark {
    color: #ffffff;
    background-color: #000000;
}
body{
    font-family: 'Quicksand', sans-serif;
}

.w-fitcontent {
    width: fit-content;
}

.bg-orange-grad {
    background: radial-gradient(50% 50% at 50% 50%, #06AED5 0%, #E59500 0.01%, #FFFFFF 100%);

}
.bg-maroonx-11-grad{
background: radial-gradient(50% 50% at 50% 50%, #A13D63 0%, #A13D63 0.01%, #FFFFFF 100%);
}
.bg-geruleancrayola-grad{
background: radial-gradient(50% 50% at 50% 50%, #06AED5 0%, #06AED5 0.01%, #FFFFFF 100%);
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Add a picture';
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }