@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html.dark {
    color: #ffffff;
    background-color: #000000;
}
body{
    font-family: 'Quicksand', sans-serif;
}

.w-fitcontent {
    width: fit-content;
}

.bg-orange-grad {
    background: radial-gradient(50% 50% at 50% 50%, #06AED5 0%, #E59500 0.01%, #FFFFFF 100%);

}